<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5d3c612e-41d9-4e13-a9c6-ee1d192e36ed/resourceGroups/Hopper/providers/Microsoft.Web/sites/TheHopper</ResourceId>
    <ResourceGroup>Hopper</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thehopper.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thehopper.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheHopper</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TheHopper</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HopperEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHopperService.Models.HopperEntities2, TheHopperService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HopperEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHopperService.Models.HopperEntities, TheHopperService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HopperEntities4" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHopperService.Models.HopperEntities4, TheHopperService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HopperEntities3" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHopperService.Models.HopperEntities3, TheHopperService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HopperEntities6" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHopperService.Models.HopperEntities6, TheHopperService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MS_TableConnectionString" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHopperService.Models.TheHopperContext, TheHopperService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HopperEntities1" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=hopsql.database.windows.net;Initial Catalog=Hopper;User ID=hopper;Password=506Admin;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HopperEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Rider.csdl|res://*/Models.Rider.ssdl|res://*/Models.Rider.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hopsql.database.windows.net;initial catalog=Hopper;user id=hopper;password=506Admin;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HopperEntities5" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=hopsql.database.windows.net;Initial Catalog=Hopper;User ID=hopper;Password=506Admin;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HopperEntities5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.RiderReview.csdl|res://*/Models.RiderReview.ssdl|res://*/Models.RiderReview.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hopsql.database.windows.net;initial catalog=Hopper;user id=hopper;password=506Admin;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="HopperEntities5-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.RiderReview.csdl|res://*/Models.RiderReview.ssdl|res://*/Models.RiderReview.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:hopsql.database.windows.net,1433;initial catalog=Hopper;user id=hopper@hopsql;password=506Admin;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HopperEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Rider.csdl|res://*/Models.Rider.ssdl|res://*/Models.Rider.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:hopsql.database.windows.net,1433;initial catalog=Hopper;user id=hopper@hopsql;password=506Admin;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HopperEntities6-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.RiderReview.csdl|res://*/Models.RiderReview.ssdl|res://*/Models.RiderReview.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HopperEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Rider.csdl|res://*/Models.Rider.ssdl|res://*/Models.Rider.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HopperEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.HistoricalRequest.csdl|res://*/Models.HistoricalRequest.ssdl|res://*/Models.HistoricalRequest.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HopperEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Driver.csdl|res://*/Models.Driver.ssdl|res://*/Models.Driver.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HopperEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ActiveRequest.csdl|res://*/Models.ActiveRequest.ssdl|res://*/Models.ActiveRequest.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:hopsql.database.windows.net,1433;Initial Catalog=Hopper;User ID=hopper@hopsql;Password=506Admin"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>